@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-size: 1.6rem;
    background-color: #eee;
}

main {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem 0;
    position: relative;
}

/*
-------- HEADER -------- 
*/
.heading {
    padding-bottom: 3rem;
}

.heading .title, 
.heading .subtitle {
    text-align: center;
}

.heading .title {
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222;
    padding-bottom: 1rem;
}

.heading .subtitle {
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-transform: lowercase;
    color: #333;
    font-weight: 500;
}

/* 
---------- INPUTS SEARCH / YOUR TEXT --------
*/
.inputs {
    width: 95%;
    max-width: 800px;
    margin: 0 auto 5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    overflow: hidden;
    border-radius: 1rem;
}    
.inputs .inputbox:first-child {
    border-right: .01rem solid #333;
}

.inputs .inputbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;

}

.inputs .inputbox .btn {
    background-color: transparent;
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
}

.inputs .inputbox .input {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 1rem 1rem 0;
    background-color: transparent;
}

.inputs .inputbox .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    transition: all 200ms linear;
    color: #777;
    font-weight: 600;
}

.inputs .inputbox input:valid ~ .label,
.inputs .inputbox input:focus ~ .label {
    top: 9px;
    font-size: 1.1rem;
    color: #000;
}

/* 
-------- CARDS STYLE ---------
*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    place-items: center;
    gap: 10px;
}

.card {
    position: relative;
    width: 30rem;
    padding: 2rem;
    background-color: #dbdbdb;
    color: #000;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: 200ms linear;
}

.card:hover {
    background-color: #ccc;
}

.card .name_font {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.card .text_container {
    overflow: auto;
    height: 15rem;
}

.card .show_text {
    color: #000;
    font-size: 1.6rem;
    padding-bottom: .5rem;
    display: block;
    white-space: nowrap;
}

.card .show_text.one {
    font-weight: 100;
}

.card .show_text.two {
    font-weight: 200;
}

.card .show_text.three {
    font-weight: 300;
}
.card .show_text.four {
    font-weight: 400;
}
.card .show_text.five {
    font-weight: 500;
}

.card .show_text.six {
    font-weight: 600;
}

.card .show_text.seven {
    font-weight: 700;
}

.card .show_text.eight {
    font-weight: 800;
}

.card .show_text.nine {
    font-weight: 900;
}

.card .text_container::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
    background-color: transparent;
}

.card .text_container::-webkit-scrollbar-button {
    background-color: none;
}

.card .text_container::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 1rem;
}

.card.poppins .text {
    font-family: 'Poppins';
}

.card.roboto .text {
    font-family: 'Roboto';
}

.card.open-sans .text {
    font-family: 'Open Sans';
}

.card.lato .text {
    font-family: 'Lato';
}


